 .example-card {
    display: inline-block;
    max-width: 400px;
    max-height: 600px;
    margin: 20px;
    box-shadow: none;
}
/*
img {
    border: 1px solid black;
    width: 300px;
    height: 200px;
}

.example-header-image {
    background-size: cover;
}

.juntos {
    display: flex;
    text-align: center;
}

.juntos mat-card-title {
    font-size: 12pt;
    padding-left: 10px;
}

.juntos mat-icon {
    font-size: 12pt;
    padding-left: 10px;
}

button {
    float: right;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    
  }
  body {
   

  }
button {
    float: right;
    border: 0px solid white;
}

.delete{
}
.targeta{
    margin: 20px;
    display:inline;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 200px;

}
  img {
    width:100%;
    height: 100%;
    object-fit:cover;
    margin-top: 50px;

    width: 400px;
    height: 300px;
    background-size: cover;    
    -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
    
    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
  }
  .container {
    max-width:600px;
    max-height:350px;

    display:inline-block;
  }
  .container:hover img {
    opacity:0.3;
  }
  .container img:hover {
    transform:perspective(800px) rotateY(0deg);
    opacity:1;
  }